<div class="shortinfo add-flex">
    <h3>Wings of Hope</h3>
    <p>
        Wings of Hope funds programs to help ease financial burdens and promote 
        wellness for low-income people who are living with breast cancer in and around Calgary.
    </p>
</div>
<div class="contact-info add-flex">
    <h3>Contact Information</h3>
    <div class="location">            
        <i class="fas fa-map-marker-alt"></i>
        <span>
            PO Box 84007 Market Mall3625 Shaganappi Trail NWCalgary, Alberta T3A 5C4
        </span>
    </div>
    <div class="phone">
        <i class="fas fa-phone"></i>
        <span>
            403.815.2702
        </span> 
    </div>
</div>