<div class="menu">
    <img src="./img/home/wings-of-hope-Logo-2.png" alt="logotipe">
</div>

<h1 class="mobile-logo">Wings <span class="pink">of hope</span></h1>

<nav class="nav">

    <div class="logo">
        <a href="index.html">
            <img src="./img/home/wings-of-hope-Logo-2.png" alt="logotipe">
            <h1>Wings <span class="pink">of hope</span></h1>
        </a>
    </div>

    <ul class="nav-list">
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="what-we-do.html">What we do</a>
        </li>
        <li>
            <a href="who-we-help.html">Who we help</a>
        </li>
        <li>
            <a href="who-we-are.html">Who we are</a>
        </li>
        <li>
            <a href="events.html">Events</a>
        </li>
        <li>
            <a href="contact-us.html">Contact Us</a>
        </li>
    </ul>
</nav>